body{
    text-align: center;
    background-color:aquamarine;
}
h1{
    font-size:32px;
    color:#2F4F4F;
    font-weight:900;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-size:16px;
    color:black;
    font-weight:700;
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    font-size:24px;
    color: #2F4F4F;
    font-weight:900;
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    font-size:16px;
    color:black;
    font-weight:700;
    font-family: Arial, Helvetica, sans-serif;
}
.my_text {
    font-size: 24px;
    color: #2F4F4F;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}